* {
    padding: 0;
    margin: 0;
    font-family: hack;
    font-weight: bold;
    color: white;
    background: black;
}

h3 {
    font-size: 36px;
}

.score-board {
    text-align: left;
    padding: 20px;
    
}

.board {
    margin: 20px auto;
    padding: 15px 20px;
    text-align: center;

}
.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
}